/*
El sitio deberá estar dividido en secciones o enlaces a otras páginas, debe incluir los siguientes contenidos

Logotipo
Misión, visión y valores
Servicios ofrecidos
Propuesta comercial
Información de contacto



Importante: todas las páginas de la web deberán tener un menú donde se pueda navegar entre una página y otra. 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: black;
    height: fit-content;
    padding: 0 40px;
    width: 100vw;
}

.logotitulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

body {
    height: 150vh;
}

h1 {
    padding-top: 1%;
    font-size: 70px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 a {

    text-decoration: none;
    color: white;
}
.navbar{
    width: 50%;
}
.navbar ul{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 5%;
}

.navbar ul li {
    list-style-type:none;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    justify-content: space-evenly;
    font-size: 25px;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.divmain {
    display: flex;
    flex-flow: row;
    background-color: bisque;
    justify-content: space-evenly;
    height: 150vh;
}

header img {
    width: 130px;
    height: fit-content;
}

.textomain {
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 6%;
}

.textomain h2 {
    font-size: 45px;
}

.imagenmain img {
    padding-top: 7%;
    width: 100%;
    height: 35%;
}

#wpp {
    width: 100px;
    height: 100px;
}

p {
    line-height: 150%;
}

footer {
    display: flex;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-position: center;
    justify-content: center;
    align-items: center;

}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30%;
}

.redes a img {
    height: 45px;
    width: 45px;
}







.grid-index {
    display: grid;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1.6fr 0.2fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
        ". tituloinicio tituloinicio tituloinicio ."
        "breveindex breveindex breveindex breveindex ."
        ". . . . ."
        ". breveindex2 breveindex2 breveindex2 breveindex2";
}



.tituloinicio {
    grid-area: tituloinicio;
    margin-top: 3%;
}

.tituloinicio h2 {
    position: sticky;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 40px;
    color: black;
}

.breveindex {
    grid-area: breveindex;
    display: flex;
    flex-flow: row nowrap;
}

.breveindeximg {
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-image: url(./assets/masamadreblanco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.breveindextxt {
    height: 100%;
    width: 60%;
    display: flex;
    flex-flow: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    text-align: center;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-content: center;
}

.breveindextxt h2 {
    display: block;
    position: sticky;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
}

.breveindex2 {
    grid-area: breveindex2;
    display: flex;
    flex-flow: row-reverse nowrap;
    margin-top: 3%;
}

.breveindeximg2 {
    height: 100%;
    width: 40%;
    display: flex;
    background-image: url(./assets/masamadreintegral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.breveindextxt2 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-flow: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-align: center;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-content: center;
}

.breveindextxt2 h2 {
    display: block;
    position: sticky;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;

}






.acercatitulo {
    position: sticky;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 86px;
    color: black;
}







.vistaservicios {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.vistaservicios .imgservicios {
    display: flex;
    background: url(./assets/panmolde.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;

}

.txtservicios {
    display: flex;
    flex-flow: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}




.vistacontacto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.vistacontacto .imgcontacto {
    display: flex;
    background: url(./assets/pretzels.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;

}

.txtcontacto {
    display: flex;
    flex-flow:column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.redescontacto{
    padding: 8%;
    letter-spacing: 65px;
}


@media (max-width:1440px){


    .txtservicios p{
        font-size: 25px;
    }

    





}

@media (max-width:1130px){

    header {
        flex-flow: column nowrap;
        height: fit-content;
    }
    .logotitulo {
        width: 100%;
        justify-content: center;
        gap: 50px;
    }
    .navbar{
        width: 100%;
    }

    .navbar ul li {
        font-size: 20px;
    }
    .logotitulo h1{
        font-size: 45px;
    }
    .logotitulo img{
        width: 110px;
    }
    



}

@media (max-width:768px){

    .txtservicios p{
        font-size: 18px;
    }

    .txtcontacto h2{
        font-size: 30px;

    }

    .textomain{
        font-size: 20px;
    }
    .grid-index{
        display: flex;
        flex-flow: column;
    }
    .breveindex2{
        margin-top: 6%;
    }
    .breveindextxt{
        font-size: 15px;
    }
    .breveindextxt2{
        font-size: 15px;
    }

    .tituloinicio h2{
        font-size: 25px;
    }

    .breveindextxt h2{
        font-size: 20px;
    }
    .breveindextxt2 h2{
        font-size: 20px;
    }
    .navbar ul{
        gap: 0px;
    }

    .navbar ul li {
        font-size: 20px;
    }
    .logotitulo h1{
        font-size: 36px;
    }
    .logotitulo img{
        width: 90px;
    }

    .vistaservicios {
        flex-flow: column nowrap;
    }
    .vistaservicios .imgservicios{
        width: 100%;
    }
    .txtservicios {
        font-size: 15px;
        width: 100%;
    }


    .vistacontacto {
        flex-flow: column;
    }
    
    .vistacontacto .imgcontacto {
        width: 100%;
        height: 50%;
    
    }
    
    .txtcontacto {
        width: 100%;
        font-size: 25px;
    }

    #wpp{
        width: 50px;
        height: 50px;
    }
    .divmvv{
        display: flex;
        flex-flow: column;
    }

    .logotitulo {
        width: 100%;
        justify-content: center;
        gap: 25px;
    }
}



@media (max-width:425px){

    .txtservicios p{
        font-size: 15px;
    }

    .breveindex2{
        margin-top: 6%;
    }
    .breveindextxt{
        font-size: 12px;
    }
    .breveindextxt2{
        font-size: 12px;
    }

    .tituloinicio h2{
        font-size: 21px;
    }

    .breveindextxt h2{
        font-size: 18px;
    }
    .breveindextxt2 h2{
        font-size: 18px;
    }
    .navbar ul{
        gap: 0px;
    }

    .navbar ul li {
        font-size: 16px;
    }
    .logotitulo h1{
        font-size: 36px;
    }
    .logotitulo img{
        width: 90px;
    }

    .vistaservicios {
        flex-flow: column nowrap;
    }
    .vistaservicios .imgservicios{
        width: 100%;
    }
    .txtservicios {
        font-size: 15px;
        width: 100%;
    }


    .vistacontacto {
        flex-flow: column;
    }
    
    .vistacontacto .imgcontacto {
        width: 100%;
        height: 50%;
    
    }
    
    .txtcontacto {
        width: 100%;
        font-size: 25px;
    }

    #wpp{
        width: 50px;
        height: 50px;
    }
    .divmvv{
        display: flex;
        flex-flow: column;
    }

    .logotitulo {
        width: 100%;
        justify-content: center;
        gap: 25px;
    }
}


@media (max-width:320px){

    .breveindextxt{
        font-size: 12px;
    }
    .breveindextxt2{
        font-size: 12px;
    }

    .tituloinicio h2{
        font-size: 21px;
    }

    .breveindextxt h2{
        font-size: 18px;
    }
    .breveindextxt2 h2{
        font-size: 18px;
    }

    .navbar ul li {
        font-size: 14px;
    }
    h1{
        font-size: 50px;
    }


}